@charset "utf-8";

.lt_search {
  padding: 10px;
  position: relative;
}
.lt_search input {
  border: 1px solid #006699;
  height: 34px;
  font-size: 12px;
  border-radius: 5px;
  margin: 0;
}
.lt_search a {
  position: absolute;
  height: 34px;
  width: 60px;
  text-align: center;
  line-height: 34px;
  color: #fff;
  background-color: #006699;
  font-size: 12px;
  right: 10px;
  top: 10px;
  border-radius: 0 5px 5px 0;
}

.lt_history {
  padding:10px;
  font-size: 12px;
  color: #999;
}
.lt_history .history_header {
  margin-bottom: 10px;
}

.history_list ul {
  border: 1px dashed #ccc;
}

.history_list ul li {
  padding: 5px;
  border-bottom: 1px dashed #ccc;
}
.history_list ul li:last-of-type {
  border:none;
}
.history_list ul li a {
  display: block;
  float: left;
  min-width: 30px;
}
.history_list ul li a:active {
  color: red;
}