<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>乐淘管理系统-首页</title>
  <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./lib/nprogress/nprogress.css">
  <link rel="stylesheet" href="./css/common.css">
</head>

<body>
  <!-- 侧边导航栏 -->
  <div id="lt_aside">
    <!-- 左上标题 -->
    <div class="brand">
      <a href="index.html">ITCAST</a>
    </div>
    <div class="user_info">
      <img src="./images/default.png" class="img-circle">
      <p>超级管理员</p>
    </div>
    <div class="side_nav">
      <ul>
        <li>
          <a href="user.html">
            <i class="glyphicon glyphicon-user"></i> 用户管理</a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="glyphicon glyphicon-list"></i> 分类管理</a>
          <div class="child" style="display:none">
            <a href="first.html">一级分类</a>
            <a href="second.html">二级分类</a>
          </div>
        </li>
        <li>
          <a href="product.html" class="current_tab">
            <i class="glyphicon glyphicon-tags"></i> 商品管理</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- 主页面 -->
  <div id="lt_main">
    <!-- 顶部导航条 -->
    <div class="top_bar">
      <a href="javascript:;" class="btn_menu pull-left">
        <i class="glyphicon glyphicon-align-justify"></i>
      </a>
      <a href="javascript:;" class="btn_logout pull-right" data-toggle="modal" data-target="#myModal">
        <i class="glyphicon glyphicon-log-out"></i>
      </a>
    </div>
    <!-- 页面内容 -->
    <div class="lt_content">
      <ol class="breadcrumb">
        <li>
          <a href="#">管理系统</a>
        </li>
        <li class="active">商品管理</li>
      </ol>
      <button type="button" class="btn_add btn btn-default mb_15">添加分类</button>
      <div class="table_content">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <td width="5%">序号</td>
              <td width="25%">商品名称</td>
              <td width="25%">商品描述</td>
              <td width="10%">商品库存</td>
              <td width="10%">商品尺寸</td>
              <td width="10%">商品状态</td>
              <td width="15%">操作</td>
            </tr>
          </thead>
          <tbody>
            <!-- 挖一个坑 -->
            <!-- 挖一个坑 -->
            <!-- 挖一个坑 -->
          </tbody>
        </table>
      </div>
      <div class="text-right">
        <ul class="" id="paginator"></ul>
      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" id="myModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">温馨提示</h4>
        </div>
        <div class="modal-body text-danger">
          <p>
            <i class="glyphicon glyphicon-info-sign"></i>您确定要退出后台管理系统吗？</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary btn_confirm">确定</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- 添加商品模态框 -->
  <div class="modal fade" tabindex="-1" id="addModal">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">添加商品</h4>
        </div>
        <div class="modal-body">
          <form id="form">
            <div class="form-group">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                  <span class="dropdown_text">请选择品牌名称</span>
                  <input type="hidden" name="brandId" id="brandId">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <!-- 挖一个坑填二级分类名称 -->
                  <!-- <li>
                    <a href="#">Action</a>
                  </li>
                  <li role="separator" class="divider"></li> -->
                </ul>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="proName" id="proName" placeholder="请输入商品名称">
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="3" name="proDesc" id="proDesc" placeholder="请输入商品描述"></textarea>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="num" id="num" placeholder="请输入商品库存">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="size" id="size" placeholder="请输入商品尺码(例如30-40)">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="oldPrice" id="oldPrice" placeholder="请输入商品原价">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="price" id="price" placeholder="请输入商品现价">
            </div>
            <div class="form-group">
              <div class="img_upload_father">
                <button type="button" class="btn btn-default btn_upload_img">上传图片</button>
                <input type="file" id="fileupload" name="pic1" data-url="/product/addProductPic" multiple>
              </div>
              <div class="img_preview">
              </div>
              <input type="hidden" name="productLogo" id="productLogo">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" form="form" class="btn btn-primary btn_add_confirm">确定</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- 下拉框内容模板 -->
  <script id='dropdown_tpl' type="text/html">
    {{each rows v i}}
    <li>
      <a href="#" class="brand_a_tag" data-brand-id="{{v.id}}">{{v.brandName}}</a>
    </li>
    <li role="separator" class="divider"></li>
    {{/each}}
  </script>
  <!-- 商品列表模板 -->
  <script id='product_tpl' type="text/html">
    {{each rows v i}}
    <tr>
      <td>{{(page-1)*size+i+1}}</td>
      <td>{{v.proName}}</td>
      <td>{{v.proDesc}}</td>
      <td>{{v.num}}</td>
      <td>{{v.size}}</td>
      {{if v.statu === 1}}
      <td>已上架</td>
      {{/if}} {{if v.statu === 0}}
      <td>已上架</td>
      {{/if}}
      <td>{{if v.statu === 1}}
        <button type="button" class="btn btn-danger btn-sm">下架</button>
        {{/if}} {{if v.statu === 0}}
        <button type="button" class="btn btn-success btn-sm">上架</button>
        {{/if}}
        <button type="button" class="btn btn-primary btn-sm">编辑</button>
      </td>
    </tr>
    {{/each}}
  </script>
  <script src="./lib/jquery/jquery.min.js"></script>
  <script src="./lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="./lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
  <script src="./lib/artTemplate/template-web.js"></script>
  <script src="./lib/bootstrap-validator/js/bootstrapValidator.min.js"></script>
  <script src="./lib/jquery-fileupload/jquery.ui.widget.js"></script>
  <script src="./lib/jquery-fileupload/jquery.fileupload.js"></script>
  <script src="./lib/nprogress/nprogress.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/product.js"></script>
</body>

</html>